.container {
  color: green;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.card {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  background-color: darkslategray;
  border-radius: 100%;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.addCard {
  width: 100px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: pink;
  border-radius: 5px;
  font-size: 40px;
  text-wrap: wrap;
  text-align: center;
}
